In [16]:
#1번
v =[1,100,2,5,6,7,8,9]
v.remove(100)
v.append(10)
v

[1, 2, 5, 6, 7, 8, 9, 10]

In [36]:
#2번
import numpy as np
arr=np.array(v)

np.insert(arr,2,3)
np.insert(arr,3,4)
np.append(arr,11)

print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11]

In [42]:
#3번
a = arr[arr<=5]
b = arr[arr<=4]

In [85]:
#4번
d = {"윤종철":"010-2243-2343", "이두호":"010-2312-4324", "윤인섭":"010-5949-2939", 
"김창균" : "010-1234-0987", "권세진":"010-2342-3213"}
print(d)

{'윤종철': '010-2243-2343', '이두호': '010-2312-4324', '윤인섭': '010-5949-2939', '김창균': '010-1234-0987', '권세진': '010-2342-3213'}

In [103]:
#5번
import pandas as pd

new_d = {
'name': d.keys(),
'number': d.values(),
}

df = pd.DataFrame(new_d)
df

  name         number
0  윤종철  010-2243-2343
1  이두호  010-2312-4324
2  윤인섭  010-5949-2939
3  김창균  010-1234-0987
4  권세진  010-2342-3213

In [ ]:
#6번

In [117]:
#7번
df = pd.read_csv('C:/Users/a0102/Downloads/Data1.csv', header=0,encoding='euc-kr')
print(df)

       연령     학력  성과능력  성과태도
0  26~30세  대학원졸업     5     4
1  31세 이상  대학교졸업     4     3
2  31세 이상  전문대졸업     4     2
3  26~30세  대학원졸업     4     4
4  20~25세  대학교졸업     4     4